.wrapper {
    border-radius: 10px 0 0 10px;
    padding: 8px;
    border-right: 1px solid rgb(51, 50, 50);
    background-color: #151818;
    text-align: center;
}

.logout-item {
    width: 180px;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
       background-color: rgb(78, 78, 78);
    }
}