.wrapper {
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    p {
        padding: 8px;
        background-color: green;
        border-radius: 6px;
        max-width: 80%;
        overflow: hidden;
        margin-left: 8px;
    }
}
